
@font-face {
    font-family: Montserrat;
    src: url(Montserrat/static/Montserrat-Medium.ttf);
  }
body{
    font-family: Montserrat ;
    background-image: url("cloud.jpg");
    color: white;
}

#containersearch{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    text-align: center;
    position: fixed;
    top: 20rem;
}

.invert{
    -webkit-filter: invert(100%);
}

#search{
    padding: 10px;
    cursor: pointer;
    background-color: rgba(165, 163, 230,0.3);
    border-style: none;
    font-size: medium;
    color: white;
}

label{
    font-size:large;
}

#location{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

input, select, textarea{
    color: white;
}

#locationdescription{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: white;
    gap: 0.5rem;
    width: 30%;
    position: fixed;
    top: 2rem;
    text-align: center;
}

#city{
    font-weight: bolder;
    font-size: xxx-large;
    letter-spacing: 8px;
}

#displayweather{
    position: fixed;
    top: 10rem;
    padding-left: 1.5rem;
    
}



#containerweatherimg{
    padding: 2rem;
    gap: 1rem;
    width: 30%;
    position: fixed;
    top: 10rem;
    text-align: center;
    display: flex;
}


img{
    width: 100px;
    
}

#conditiondiv{
    font-size: large;
    text-decoration-color: white;
}

#weatherinfocontainer{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 12rem;
    width: 30%;
    text-align: center;
}