
@font-face {
    font-family: Montserrat;
    src: url(Montserrat/static/Montserrat-Medium.ttf);
  }
body{
    font-family: Montserrat ;
    background-image: url("cloud.jpg");
    color: white;
}

#containersearch{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: min-content;
    padding: 1rem;
    padding-left: 30px;
}

.invert{
    -webkit-filter: invert(100%);
}

#search{
    padding: 10px;
    cursor: pointer;
    background-color: rgba(165, 163, 230,0.3);
    border-style: none;
    font-size: medium;
    color: white;
}

label{
    font-size:large;
}

#location{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
}

input, select, textarea{
    color: white;
}

.containerposition{
    display: grid;
    padding: 1rem;
    padding-left: 30px;
    color: white;
    gap: 0.5rem;
    width: min-content;
    top: 2rem;


}

#city{
    font-weight: bolder;
    font-size: xxx-large;
    letter-spacing: 8px;
    width: min-content;
}



#containerweatherimg{
    gap: 1rem;
    padding-left: 30px;
    width: min-content;
    text-align: center;
}


img{
    width: 100px;
    
}

#additionalInfoIcon{
    width: 10px;
}

#conditiondiv{
    font-size: large;
    text-decoration-color: white;

}

#containeradditionalinfo{
    float: right;
    padding-right: 10px;
    line-height: 30px;
}